<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.alicee.backupdaemon</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/opt/miniconda3/bin/python</string>
        <string>/Users/alicee/Desktop/Work_Main/linux_prog/lesson2/daemon.py</string>
        <string>/Users/alicee/Desktop/Work_Main/linux_prog/lesson2/backup_config.json</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StartInterval</key>
    <integer>5</integer> <!-- Запускайте каждые 5 секунд -->
</dict>
</plist>
